services:
  - type: web
    name: evrocontayner
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000
      - key: DB_PATH
        value: ./data/db.sqlite
      - key: SMTP_HOST
        value: smtp.gmail.com
      - key: SMTP_PORT
        value: 587
      - key: SMTP_USER
        scope: secret
      - key: SMTP_PASS
        scope: secret
      - key: TO_EMAIL
        scope: secret
